<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" charset="utf-8">
    <meta charset="utf-8">
  </head>

  <body>
    <div id="map-canvas"></div>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV[GOOGLE_MAPS_API]}">
    </script>
    <script type="text/javascript" src="/js/map.js"></script>
  </body>
</html>